body {
  background-color: rgb(165, 210, 196);
  min-height: 100vh;
  font-family: "prompt", sans-serif;
  margin: none;
}
header {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 70px auto;
  max-width: 900px;
}
#headerPrimary {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.name {
  color: white;
  font-size: 55px;
  letter-spacing: 3px;
  text-align: center;
  max-width: 500px;
  margin: auto;
}
.portfolioPic {
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: 0 10%;
  border-radius: 50%;
}

.aboutMeSection {
  background-color: white;
  padding: 30px;
  min-width: 300px;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  margin: 70px auto;
  max-width: 900px;
  padding: 30px 0px;
}
#linkSection {
  margin: auto 50px;
}
#linkIcons {
  display: flex;
  justify-content: space-evenly;
}
.linkIcon {
  width: 90px;
  height: 90px;
  padding: 15px;
}
#contactSection {
  display: flex;
  flex-direction: column;
}
.contactResource {
  display: flex;
  gap: 12px;
  min-height: 50px;
  align-items: center;
}
.contactIcon {
  width: 35px;
  height: 35px;
}
.contactInfo {
  margin: auto 10px;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: gray;
}
a {
  text-decoration: none;
}

.content {
  font-size: 18px;
  letter-spacing: 1px;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: 70px auto;
}
.aboutMeSection,
footer,
.featuredWork {
  border-radius: 10px;
}

.featuredWork {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 15px;
}
.projectCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  padding: 15px;
  border: 4px solid grey;
  border-radius: 10px;
  background-color: white;
  height: 230px;
  justify-content: space-evenly;
}

.projectCardPicture {
  width: 100px;
  height: 100px;
}
.projectCardLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}
.projectTitle,
.projectDescription {
  text-align: center;
}
.projectTitle {
  font-size: 24px;
}

#featuredWorkTitle {
  color: white;
  border-bottom: 3px solid gray;
  letter-spacing: 2px;
  font-size: 24px;
}
@media (max-width: 1100px) {
  header {
    margin: 60px 90px;
  }
  footer {
    margin: 60px 90px;
  }
}

@media (max-width: 950px) {
  footer {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  #contactSection {
    max-width: 350px;
    margin: auto;
  }
}

@media (max-width: 700px) {
  footer {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 60px 80px;
  }
  #contactSection {
    max-width: 320px;
    margin: auto;
  }
  header {
    margin: 60px 80px;
  }
}

@media (max-width: 600px) {
  #headerPrimary {
    flex-direction: column;
  }
  .portfolioPic {
    margin: auto;
  }
  footer {
    min-width: 300px;
    margin: 60px auto;
  }
  header {
    margin: 60px auto;
  }
}
